.flex{
  display: flex;
}

.flex-1{
  flex:1;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.align-items{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.justify-center{
justify-content: center;
}

.text-center{
  text-align:center;
}

.w-40px{
  width: 40px;
}


.w-90{
  width: 90%;
  margin: 0 auto;
}

.w-80{
  width: 80%;
  margin: 0 auto;
}

.mb-1{
  margin-bottom: 1rem;
}

.flex-wrap{
  flex-wrap: wrap;
}


.margin-auto{
  margin: 0 auto;
}